<span style='color: #000'>135 frames</span>	<span style='color: #900'>7,168 KB</span>	<span style='color: #090'>557.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />