<div class="row">
	<div class="col-sm-9">
		<h2 class="moduloHeader"><span><?=$titulo?></span></h2>
	</div>
</div>

<hr>

<div class="row marginTop20">
	<?php
	if($e > 0) //Error de permisos
	{
	?>	
	<div class="col-xs-12">
		<div class="alert alert-danger col-xs-12">
			<?=$msg?>
		</div>
	</div>
	<?php
	}
	else
	{
	?>
	
	<div class="col-md-7" id="filtro">
		<form class="form-inline" role="form" method="post">
			<div class="form-group">
				<input type="text" class="form-control w184" id="filtro" name="filtro" placeholder="Filtre por folio o cliente" value="<?=$f['filtro']?>">
			</div>
			<div class="form-group">
				<select class="form-control" id="serie" name="serie">
					<option value="">Todas las series</option>
					<?php
					foreach($series as $s)
					{
						$selected = ($f['serie'] == $s) ? 'selected' : '';
					?>
					<option <?=$selected?>><?=$s?></option>
					<?php
					}
					?>
				</select>
			</div>
			<div class="form-group">
				<input type="text" name="fecha_venta1" class="fecha form-fechas form-control" value="<?=$f['fecha_venta1']?>" placeholder="Fecha inicio" id="fecha_venta" /> y
				<input type="text" name="fecha_venta2" class="fecha form-fechas form-control" value="<?=$f['fecha_venta2']?>" placeholder="Fecha final" />
			</div>
			<input type="hidden" name="go" value="1" />
			<button type="submit" class="btn btn-primary">Filtrar</button>
		</form>
	</div>
	<div class="col-md-1">
		<form action="<?=path()?><?=$controlador?>/exportar<?=suffix()?>" method="post" target="_export" id="exportar">
			<input type="hidden" id="tablaInfo" name="tabla" />
			<input type="hidden" id="fechaInfo" name="fecha" />
			<button class="btn btn-primary" value="1"><span class="marginRight6 glyphicon glyphicon-print"></span> Imprimir</button>
		</form>
	</div>
	<div class="col-md-1">
		<form action="<?=path()?><?=$controlador?>/exportarExcel<?=suffix()?>" method="post" target="_export" id="exportar">
			<input type="hidden" id="filtro" name="filtro" value="<?=$f['filtro']?>">
			<input type="hidden" id="serie" name="serie" value="<?=$f['serie']?>">
			<input type="hidden" id="fecha_venta1" name="fecha_venta1" value="<?=$f['fecha_venta1']?>">
			<input type="hidden" id="fecha_venta2" name="fecha_venta2" value="<?=$f['fecha_venta2']?>">

			<button class="btn btn-primary" value="1"><span class="marginRight6 glyphicon glyphicon-print"></span> Imprimir Excel</button>
		</form>
	</div>
	<?php
		if(count($registros) > 0)
		{
	?>
	<div class="col-md-12 table-responsive">
			<hr>
		<table class="table table-striped dataTable font11">
			<colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
			<thead>
				<tr class="lineaHeader table-border-top-tr table-tr-primary">
					<th colspan="4"></th>
					<?php
					foreach($lineas as $l)
					{
					?>
					<th colspan="<?=$l['columnas']?>" class="text-center"><?=$l['nombre']?></th>
					<?php
					}
					?>
				</td>
			</thead>
			<thead>
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Registro</th>
					<?php
					$totales = array();
					foreach($todos as $t)
					{
						$totales[$t->id] = 0;
					?>
					<th class="text-right" width="56"><?=$t->descripcion?></th>
					<?php
					}
					?>
				</tr>
			</thead>
			<tbody>
				<?php
				foreach($registros as $r)
				{
					/*
					Contar cuántos registros de productos hay para conocer las filas que se fucionarán
					*/
					$c = 0;
					foreach($r['productos'] as $rp) $c += count($rp);
				?>
				<tr>
					<td rowspan="<?=$c?>" nowrap>
						<a href="<?=path()?>ventas/detalle/<?=$r['id']?><?=suffix()?>" target="_new">
							<b><?php if($f['serie'] == ''){ echo $r['serie']."-"; } ?><?=$r['folio']?></b>
						</a>
					</td>
					<td rowspan="<?=$c?>"><?=$r['nombre']?></td>
					<td rowspan="<?=$c?>"><?=nl2br($r['direccion'])?></td>
					<?php
					$contador = 0;
					/*
					1. Recorrer los productos de esta venta.
					2. Recorrer los registros de ese producto.
					3. Recorrer todos los productos del catálogo para ver dónde se va a colocar.
					Luego buscar en esta venta si uno de esos tipos coincide.
					*/
					foreach($r['productos'] as $pid => $producto)
					{
						if($contador > 0) echo '<tr>';
						foreach($producto as $p)
						{
							echo "<td nowrap>{$p['registro']}</td>\n";
							foreach($todos as $t)
							{
								if($pid == $t->id)
								{
									$totales[$pid] += $p['cantidad'];
									echo "<td class='text-right'>{$p['cantidad']}</td>\n";
								}
								else
								{
									echo "<td></td>\n";
								}
							}
							$contador++;
							if($contador > 0) echo '</tr>';
						}
					}
					if($contador == 0)  echo '</tr>';
				}
				?>
			</tbody>
			<thead>
				<tr class="success">
					<th class="text-right" colspan="4">Totales</th>
					<?php
					
						foreach($totales as $k => $t)
						{
					?>
					<th class="text-right"><?=$t?></th>
					<?php
					
					}
					?>
				</tr>
			</thead>
		</table>
		<!-- <div class="well text-center">
			<form action="<?=path()?><?=$controlador?>/exportar<?=suffix()?>" method="post" target="_export" id="exportar">
				<input type="hidden" id="tablaInfo" name="tabla" />
				<input type="hidden" id="fechaInfo" name="fecha" />
				<button class="btn btn-primary" value="1"><span class="marginRight6 glyphicon glyphicon-print"></span> Imprimir</button>
			</form>
			<form action="<?=path()?><?=$controlador?>/exportarExcel<?=suffix()?>" method="post" target="_export" id="exportar">
				<input type="hidden" id="filtro" name="filtro" value="<?=$f['filtro']?>">
				<input type="hidden" id="serie" name="serie" value="<?=$f['serie']?>">
				<input type="hidden" id="fecha_venta1" name="fecha_venta1" value="<?=$f['fecha_venta1']?>">
				<input type="hidden" id="fecha_venta2" name="fecha_venta2" value="<?=$f['fecha_venta2']?>">

				<button class="btn btn-primary" value="1"><span class="marginRight6 glyphicon glyphicon-print"></span> Imprimir Excel</button>
			</form>
		</div> -->
	</div>
		<?php
		}
		else
		{
		?>
	<div class="col-xs-12">
		<br>
		<div class="alert alert-warning">
			No existen registros actualmente.
		</div>
	</div>
	<?php
		}
	}
	?>
</div>
<script>
var tabla = '<?=$controlador?>';
fechacion();

//Exportar reporte
$('#exportar').submit(function(){
	var t = $(this);
	$('#tablaInfo').val($('.dataTable:last').html());
	$('#fechaInfo').val($('.fecha:first').val());
	return true;
});
</script>